<svg #svg>
  <line *ngFor="let line of svgLines"
    [attr.x1]="line.x1"
    [attr.y1]="line.y1"
    [attr.x2]="line.x2"
    [attr.y2]="line.y2"
  ></line>
</svg>
<!-- <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
  <defs>
    <marker id="arrowhead" viewBox="0 0 10 10" refX="3" refY="5"
        markerWidth="6" markerHeight="6" orient="auto">
      <path [attr.d]="cordinates" />
    </marker>
  </defs>
  <g fill="none" stroke="black" stroke-width="2" marker-end="url(#arrowhead)">
    <path [attr.d]="cordinates" stroke="black" fill="green" stroke-width="2" fill-opacity="0.5"/>
  </g>
</svg> -->

<div class="content" appResize (resize)="repaint()">
  <ng-content></ng-content>
</div>